extends layout

block css
  != CDN('/css/events.css')

block splash
  .title
    h1= title.toUpperCase()

  .subtitle
    p Showcasing our killer Spring 2016 lineup.

mixin event(event)
  .pure-g.event
    a(target="_blank" href="https://facebook.com/events/" + event.id)
      .pure-u-1.pure-u-md-11-24
        .img
          img(src=event.cover, height='100%', width='100%')
      .pure-u-1.pure-u-md-13-24
        .name=event.name
        .at
          i.fa.fa-clock-o
          span #{event.at}
        .location
          i.fa.fa-map-marker
          span=  event.place
        .description
          i.fa.fa-info
          span= event.desc

block content
  - var next = page+1
  - var prev = [age-1]
  if events
    #all-events
      each event in events
        +event(event)
  ul.pager
    li.previous
      a(href="/events/" + next) next
    li.next
      a(href="/events/" + prev) prev



