extends layout

block css
    link(rel='stylesheet', href='/css/events.css')

block splash
  .title
    h1= title.toUpperCase()

  .subtitle
    p Showcasing our killer Winter 2016 lineup.

mixin event(event)
  .pure-g.event
    a(target="_blank" href="https://facebook.com/events/" + event.id)
      .pure-u-1.pure-u-md-11-24
        .img
          img(src=event.cover, height='100%', width='100%')
      .pure-u-1.pure-u-md-13-24
        .name=event.name
        .at
          i.fa.fa-clock-o
          span #{event.at}
        .location
          i.fa.fa-map-marker
          span=  event.place
        .description
          i.fa.fa-info
          span= event.desc

block content
  if events
    #all-events
      each event in events
        +event(event)

  script.
    var numEvents = #{events.length} - 1;
    var height = document.getElementsByClassName("event")[0].clientHeight +
              document.getElementsByClassName("event")[1].clientHeight +
              document.getElementsByClassName("event")[2].clientHeight +
              document.getElementsByClassName("event")[3].clientHeight +
              document.getElementsByClassName("event")[4].clientHeight + 300;

    var i = 5;
    document.getElementById("all-events").style.height = height + "px";
    document.addEventListener('scroll', function (event) {
      if (document.body.scrollHeight == document.body.scrollTop + window.innerHeight &&
          document.getElementById("all-events").clientHeight <= numEvents * (document.getElementsByClassName("event")[0].clientHeight + 50)) {

        height = (document.getElementsByClassName("event")[i].clientHeight +
              document.getElementsByClassName("event")[i+1].clientHeight +
              document.getElementsByClassName("event")[i+2].clientHeight +
              document.getElementsByClassName("event")[i+3].clientHeight +
              document.getElementsByClassName("event")[i+4].clientHeight) * 3 + 1000;

        document.getElementById("all-events").style.height = document.getElementById("all-events").clientHeight + height + "px"
        i += 5;
      }
    });
