extends layout

block css
  != CDN('/css/events.css')

block splash
  .title
    h1= title.toUpperCase()
  .subtitle
    p Showcasing our killer Spring 2016 lineup.

mixin event(event)
  .event.pure-g
    .cover.pure-u-1.pure-u-md-1-2
      a(target="_blank" href="https://facebook.com/events/" + event.id)
        img(src=event.cover, height='100%', width='100%')

    .info.pure-u-1.pure-u-md-1-2
      a(target="_blank" href="https://facebook.com/events/" + event.id)
        .name= event.name
      .at= event.at
      if event.place
        .location= '@ ' + event.place 
      if (event.desc != null)  
        .description= event.desc.split(/\s+/).slice(0,40).join(" ") + '...'
      else
        .description= ''

block content
  if events
    #all-events
      each event in events
        +event(event)

    - var numPages = Math.ceil(numEvents / PAGE_LIMIT);
    ul.pagination
      if page > 1
        li: a(href="/events/" + (page - 1))
          i.fa.fa-angle-left(aria-hidden="true")
      - var i = 1;
      while i <= Math.min(page + 3, numPages)
        li: a(class=(i == page) ? 'active' : '' href="/events/" + i)= i
        - i++;
      if page < numPages
        li: a(href="/events/" + (page + 1))
          i.fa.fa-angle-right(aria-hidden="true")
