doctype html
html
  head
    title Startup UW | #{title}
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css")
    link(rel="shortcut icon" href="/img/logo.png")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
    != CDN('/css/base.css')

    block css
    block scripts

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53889740-1', 'auto');
      ga('send', 'pageview');

  - var LAUNCH_URL = 'http://launch.startupuw.com/';
  - var NEWSLETTER_URL = 'http://eepurl.com/citJ1r';

  body
    #splash
      #header
        a#logo(href="/")
          != CDN('/img/logo.png')
          p STARTUP UW

        ul#links
          li: a(href="/") HOME
          li: a(href="/join") JOIN
          li: a(href="/events") EVENTS
          li: a(href="/team") TEAM
          li: a(target="_blank" href="#{LAUNCH_URL}") LAUNCH

      #splash-title
        block splash

    #content
      block content

    #footer
      #social
        a(target="_blank" href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(target="_blank" href="https://twitter.com/startupuw"): i.fa.fa-twitter-square
        a(target="_blank" href="https://instagram.com/startupuw/"): i.fa.fa-instagram
        a(target="_blank" href="mailto:team@startupuw.com"): i.fa.fa-envelope-square
        a(target="_blank" href="#{BLOG_URL}"): i.fa.fa-pencil-square
        a(target="_blank" href="#{LAUNCH_URL}"): i.fa.fa-rocket
