extends layout

block css
    link(rel='stylesheet', href='/css/events.css')

block splash
  .title
    h1= title.toUpperCase()

  .subtitle
    p welcome to #{title.toLowerCase()}

mixin event(event, no)
  .pure-g
    .event
      .pure-u-1.pure-u-md-1-4
        .img
          img(src='/img/events.jpeg' width="100%")
      .pure-u-1.pure-u-md-3-4
        .name
          a(href=event.link).name=event.name
        .at
          i.fa.fa-clock-o
          span #{event.at} #{event.date}
        .location
          i.fa.fa-map-marker
          span=  event.location
        .description
          i.fa.fa-info
          span= event.desc

block content
  if events
    #all-events.events
      -var i = 0
      each event in events
        +event(event, i%2)
        -i++
    script.
      var num=document.getElementsByClassName("event")[0].clientHeight + 50;
      document.getElementById("all-events").style.height = num + "px"
      var something = function() {
        var num=document.getElementsByClassName("event")[0].clientHeight + 50;
        document.getElementById("all-events").style.height = document.getElementById("all-events").clientHeight + num + "px"
        console.log(num)

      }   
    button(onclick='something()') VIEW MORE
    